*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

#logo{
  vertical-align: middle;
}

/* HEADER */

header{
  position: fixed;
  background-color: white;
  width: 100%;
  min-width: 1150px;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
}

.btn{
  border: 1px solid grey;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 18px;
}

.blue-btn{
  color: white;
  background-color: #0061ff;
}

.left-header{
  float: left;
}

.right-header{
  float: right;
}

.nav, .nav ul li{
  display: inline-block;
  margin-right: 30px;
}

.nav ul li:hover{
  border-bottom: 2px solid black;
}

.left-header img{
  vertical-align: middle;
  margin-right: 30px;
}

.nav ul li a{
  color: black;
  text-decoration: none;
  line-height: 70px;
}

#inizia{
  display: inline-block;
}

section.full-view{
  background-color: #b4d0e7;
  width: 100%;
  height: 900px;
  margin-bottom: 80px;
}

/* JUMBOTRON*/
.jumbotron{
  padding: 100px 80px 10px;
}

.top-jumbotron{
  margin-bottom: 50px;
}

.top-jumbotron h2{
  font-size: 90px;
}

.btn-jumbotron{
  margin-bottom: 20px;
}

.ancora i{
  color: black;
  font-size: 40px;
}

.left-jumbo-bottom, .right-jumbo-bottom{
  float: left;
}

.left-jumbo-bottom{
  width: 30%;
  margin-right: 5%;
  overflow: hidden;
}

.left-jumbo-bottom p{
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 40px;
}

.right-jumbo-bottom{
  width: 65%;
}

.text-subscribe p{
  font-size: 14px;
}

.right-jumbo-bottom img{
  width: 100%;
}

/* MAIN  */

.container{
  width: 70%;
  margin: 0 auto;
}

/* BUSINESS BLOCK*/
.check-business h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 250px;
}

.check-business{
  margin-bottom: 30px;
}

.check-business span{
  margin-right: 15px;
}

.block-business{
  min-width: 1000px;
}
 /* blocchi business */
.block{
  float: left;
  width: calc(33,33% - 40px);
  border: 1px solid black;
}

.block-business{
  margin-bottom: 60px;
}

.block-business .block.middle-box{
  margin: 0 20px;
}

.middle-block{
  margin-bottom: 60px;
}

.top-block h3{
  font-weight: 900;
}

.block-business .top-block{
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

.block .middle-block, .bottom-block{
  padding: 20px;
}

.middle-block h2{
  margin-bottom: 15px;
}

.middle-block .price-business{
  margin-bottom: 15px;
}

.middle-block .date-business{
  margin-bottom: 50px;
}

.utent-business, .storage-business{
  margin-bottom: 20px;
}

.function-business, .try-business{
  margin-bottom: 50px;
}

.shopnow-business span{
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
}

.bottom-block h4{
  margin-bottom: 25px;
}

.bottom-block ul li{
  padding: 15px 0;
}

/* BLOCK TEAM */
.block-team{
  border: 1px solid black;
}

.block-team .top-block{
  text-align: center;
  padding: 15px 0;
}

















