/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 70%;
  margin: 0 auto;
  max-width: 1060px;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}

.btn{
  border: 1px solid grey;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 18px;
}

.blue-btn:hover{
  background-color: #3a85ff;
}

.white-btn:hover{
  background-color: #f5f5f5;
}
/* //GLOBAL */

/* HEADER */
header{
  position: fixed;
  background-color: white;
  width: 100%;
  min-width: 1250px;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  z-index: 999;
}

.blue-btn{
  color: white;
  background-color: #0061ff;
}

.nav, .nav ul li{
  display: inline-block;
  margin-right: 30px;
  padding-left: 15px;
}

.line-nav:hover{
  border-bottom: 2px solid black;
}



.left-header img{
  vertical-align: middle;
  margin-right: 30px;
}

.nav ul li a{
  display: block;
  color: black;
  text-decoration: none;
  line-height: 70px;
  font-weight: 600;
  margin-left: 20px;
  z-index: 99;
}

#inizia{
  display: inline-block;
}

section.full-view{
  background-color: #b4d0e7;
  width: 100%;
  height: 900px;
  margin-bottom: 80px;
}

.drop-down-nav{
  display: none;
  position: fixed;;
  width: 15%;
  background-color: #f5f5f5;
  z-index: -1;
  margin-top: -2px;
}

.drop-down-nav li{
  width: 100%;
}

.drop-down-nav li a{
  font-weight:normal;
}

.nav ul li:hover .drop-down-nav{
  display: block;
}

.drop-down-nav li:hover{
  background-color: rgb(207, 207, 207);
}
/* //HEADER */


/* JUMBOTRON*/
.jumbotron{
  padding: 100px 0px;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.top-jumbotron{
  margin-bottom: 50px;
}

.top-jumbotron h2{
  font-size: 65px;
}

.btn-jumbotron{
  margin-bottom: 20px;
}

.ancora i{
  color: black;
  font-size: 40px;
}

.bottom-jumbotron{
  margin: 0 auto;
}

.left-jumbo-bottom{
  width: 25%;
  overflow: hidden;
}

.left-jumbo-bottom p{
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 40px;
}

.right-jumbo-bottom{
  width: 75%;
}

.text-subscribe p{
  font-size: 14px;
}

.right-jumbo-bottom img{
  width: 107%;
}
/* //JUMBOTRON*/

/* MAIN  */
/* BUSINESS BLOCK*/
.check-business h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 140px;
}

.check-business{
  margin-bottom: 30px;
}

.check-business span{
  margin-right: 15px;
}

.block-business{
  min-width: 1000px;
}
 /* blocchi business */
.block{
  float: left;
  width: calc(33.33% - 14px);
  border: 1px solid #d9d9db;
  padding-bottom: 80px;
}

.block-business{
  margin-bottom: 60px;
}

.block-business .block.middle-box{
  margin: 0 20px;
}

.middle-block{
  margin-bottom: 60px;
}

.top-block h3{
  font-weight: 900;
}

.price-business{
  font-weight: bold;
}

.date-business{
  color: #7f8c98;
  font-weight: 600;
  padding-bottom: 50px;
}

.block-business .top-block{
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #d9d9db;
}

.block .middle-block, .bottom-block{
  padding: 25px;
}

.middle-block .price-business, .middle-block h2{
  margin-bottom: 15px;
}

.try-business{
  margin: 30px 0;
}

.shopnow-business span{
  padding-bottom: 40px;
  border-bottom: 1px solid #d9d9db;
}

.bottom-block h4{
  margin-bottom: 25px;
}

.bottom-block ul li, .middle-block ul li{
  padding: 15px 0;
  list-style: none;
  float: left;
}

.bottom-block ul li:before, .middle-block ul li:before {
  font-family: "Font Awesome 5 Free"; 
  padding-right: 5px;
  float: left;
  padding-bottom: 5px;
}

.bottom-block ul li:before{
  color: #0061ff;
  font-weight: 900; 
  content: "\f00c";
}

.utent-syb:before{
  content: "\f007";
}

.utent-black-syb::before{
  content: "\f500";
}

.storage-syb:before{
  content: "\f07b";
}

.pen-syb:before{
  content: "\f164";
}

.smile-syb::before{
  content: "\f118";
}
/* //BUSINESS BLOCK*/

/* BLOCK TEAM */
.block-team{
  border: 1px solid #d9d9db;
  margin-bottom: 180px;
}

.block-team .top-block{
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #d9d9db;
}

.bottom-block-team{
  padding: 25px;
}

.left-b-team{
  width: 70%;
}

.right-b-team{
  width: 30%;
}

.left-b-team h3{
  font-weight: bold;
  margin-bottom: 20px;
}

.left-b-team h4{
  margin-bottom: 30px;
}

.btn.big-btn{
  padding: 5px 35px;
}
/* //BLOCK TEAM */

/* SEARCH PARTNER */
.partner-dropbox{
  margin-bottom: 130px;
}

.partner-dropbox .img-partner, .partner-dropbox .text-partner{
  width: 50%;
}

.partner-dropbox .img-partner img{
  width: 100%;
}

.partner-dropbox .text-partner{
  padding: 40px;
}

.text-partner h2{
  font-weight: bold;
  margin-bottom: 20px;
}

.text-partner p{
  font-weight: 500;
  margin-bottom: 30px;
}

.white-btn{
  color: black;
  border: 1px solid black;
}

.operation-business h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.operation-card{
  float: left;
  width: calc(33.33% - 27px);
  margin-bottom: 50px;
}

.operation-card.center{
  margin: 0 40px;
}

.operation-img img{
  width: 100%;
}

.operation-text h3{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.operation-text p span{
  text-decoration: underline ;
}

.team-text{
  width: 63%;
}

.team-text h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 150px;
}

.container .team-text a{
  display: inline-block;
  margin-bottom: 60px;
}

/* PARTNER BLOCK */
.aziende-dropbox{
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 30vw;
  margin-right: 0;
}

.aziende-dropbox-left, .aziende-dropbox-right{
  height: 30vw;
  width: 30vw;
}

.aziende-dropbox-block{
  position: relative;
  top: 0;
  left: 0;
  width: 15vw;
  height: 15vw;
  float: left;
}

.aziende-dropbox-block svg{
  width: 60%;
  filter: invert(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description-partner{
  padding: 10px 50px;
  width: 38vw;
  height: 30vw;
  overflow: auto;
}

.logo-partner{
  width: 15%;
  border-bottom: 1px solid #d3d3d5;
}

.logo-partner svg{
  width: 200%;
}

.description-partner p{
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
}


.aziende-dropbox-block.green{
  background-color: #a2d39b;
}

.aziende-dropbox-block.purples{
  background-color: #61082c;
}

.aziende-dropbox-block.light-blue{
  background-color: #1d93ce;
}

.aziende-dropbox-block.purple{
  background-color: #f91c1d;
}

.aziende-dropbox-block.dark-red{
  background-color: #d5021f;
}

.aziende-dropbox-block.light{
  background-color: #b4d0e7;
}

.aziende-dropbox-block.blue{
  background-color: #0d2481;
}

.aziende-dropbox-block.yellow{
  background-color: #fed830;
}
/* //PARTNER BLOCK */


/* TRY DROPBOX */
.try-dropbox{
  background-color: #b4d0e7;
  padding: 150px 0;
  margin-bottom: 130px;
}

.try-dropbox-text{
  width: 60%;
}

.try-dropbox-text h2{
  font-size: 50px;
  font-weight: bold;
  color: #61082c;
}

.try-dropbox-btn{
  padding-top: 10px;
  width: 39%;
}

.try-dropbox-btn a{
  background-color: white;
  padding: 5px 50px;
  border: none;
  font-weight: bold;
}
/* //TRY DROPBOX */


/* FAQ */
.block-faq{
  margin-bottom: 140px;
}

.faq h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

.raw-faq{
  padding: 25px 0;
  border-top: 1px solid #d9d9db;
  cursor: pointer;
}

.raw-faq h3{
  float: left;
}

.block-faq .raw-faq:last-child{
  border-bottom: 1px solid #d9d9db;
}

.arrow-faq{
  font-size: 14px;
  float: right;
  padding-right: 20px;
  display: block;
}

.reply-faq{
  display: none;
  color: #687787;
  margin-top: 55px;
  font-weight: bold;
  padding-right: 140px;
}

.raw-faq:active .reply-faq{
  display: block;
}

.reply-faq:hover{
  display: block;
}

.raw-faq:active .arrow-faq i{
  transform: rotate(180deg);
}
/* //FAQ */


/* FOOTER */
footer{
  background-color: black;
  width: 100%;
  padding: 100px 180px;
  color: white;
}

.block-footer{
  float: left;
  width: calc(100% / 5);
}

.block-footer h4{
  margin-bottom: 13px;
}

.block-footer ul li{
  padding: 5px 0;
  list-style: none;
}

.block-footer ul li a{
  color: white;
  text-decoration: none;
}

.block-footer ul li a:hover{
  text-decoration: underline;
}

.under-line-block{
  width: 10%;
  height: 100px;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
}

.page-language{
  color: white;
}
/* /FOOTER */