*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

#logo{
  vertical-align: middle;
}

/* HEADER */

header{
  position: fixed;
  background-color: white;
  width: 100%;
  min-width: 1150px;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  z-index: 999;
}

.btn{
  border: 1px solid grey;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 18px;
}

.blue-btn{
  color: white;
  background-color: #0061ff;
}

.left-header{
  float: left;
}

.right-header{
  float: right;
}

.nav, .nav ul li{
  display: inline-block;
  margin-right: 30px;
}

.nav ul li:hover{
  border-bottom: 2px solid black;
}

.left-header img{
  vertical-align: middle;
  margin-right: 30px;
}

.nav ul li a{
  color: black;
  text-decoration: none;
  line-height: 70px;
}

#inizia{
  display: inline-block;
}

section.full-view{
  background-color: #b4d0e7;
  width: 100%;
  height: 900px;
  margin-bottom: 80px;
}

/* JUMBOTRON*/
.jumbotron{
  padding: 100px 0px;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.top-jumbotron{
  margin-bottom: 50px;
}

.top-jumbotron h2{
  font-size: 65px;
}

.btn-jumbotron{
  margin-bottom: 20px;
}

.ancora i{
  color: black;
  font-size: 40px;
}

.bottom-jumbotron{
  margin: 0 auto;
}

.left-jumbo-bottom, .right-jumbo-bottom{
  float: left;
}

.left-jumbo-bottom{
  width: 25%;
  overflow: hidden;
}

.left-jumbo-bottom p{
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 40px;
}

.right-jumbo-bottom{
  width: 75%;
}

.text-subscribe p{
  font-size: 14px;
}

.right-jumbo-bottom img{
  width: 107%;
}

/* MAIN  */

.container{
  width: 70%;
  margin: 0 auto;
  max-width: 1060px;
}

/* BUSINESS BLOCK*/
.check-business h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
  padding-top: 140px;
}

.check-business{
  margin-bottom: 30px;
}

.check-business span{
  margin-right: 15px;
}

.block-business{
  min-width: 1000px;
}
 /* blocchi business */
.block{
  float: left;
  width: calc(33.33% - 14px);
  border: 1px solid black;
}

.block-business{
  margin-bottom: 60px;
}

.block-business .block.middle-box{
  margin: 0 20px;
}

.middle-block{
  margin-bottom: 60px;
}

.top-block h3{
  font-weight: 900;
}

.block-business .top-block{
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

.block .middle-block, .bottom-block{
  padding: 25px;
}

.middle-block h2{
  margin-bottom: 15px;
}

.middle-block .price-business{
  margin-bottom: 15px;
}

.middle-block .date-business{
  margin-bottom: 50px;
}

.utent-business, .storage-business{
  margin-bottom: 20px;
}

.function-business, .try-business{
  margin-bottom: 50px;
}

.shopnow-business span{
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
}

.bottom-block h4{
  margin-bottom: 25px;
}

.bottom-block ul li{
  padding: 15px 0;
}

.bottom-block ul li:last-child{
  padding-bottom: 90px;
}

/* BLOCK TEAM */
.block-team{
  border: 1px solid black;
  margin-bottom: 180px;
}

.block-team .top-block{
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #000;
}

.bottom-block-team{
  padding: 25px;
}

.left-b-team, .right-b-team{
  float: left;
}

.left-b-team{
  width: 70%;
}

.right-b-team{
  width: 30%;
}

.left-b-team h3{
  font-weight: bold;
  margin-bottom: 20px;
}

.left-b-team h4{
  margin-bottom: 30px;
}

.btn.big-btn{
  padding: 5px 35px;
}

/* SEARCH PARTNER */
.partner-dropbox{
  margin-bottom: 130px;
}

.partner-dropbox .img-partner, .partner-dropbox .text-partner{
  float: left;
  width: 50%;
}

.partner-dropbox .img-partner img{
  width: 100%;
}

.partner-dropbox .text-partner{
  padding: 40px;
}

.text-partner h2{
  font-weight: bold;
  margin-bottom: 20px;
}

.text-partner p{
  font-weight: 500;
  margin-bottom: 30px;
}

.white-btn{
  color: black;
  border: 1px solid black;
}

.operation-business h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.operation-card{
  float: left;
  width: calc(33.33% - 27px);
  margin-bottom: 50px;
}

.operation-card.center{
  margin: 0 40px;
}

.operation-img img{
  width: 100%;
}

.operation-text h3{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.operation-text p span{
  text-decoration: underline ;
}

.team-text{
  width: 63%;
}

.team-text h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 150px;
}

.container .team-text a{
  display: inline-block;
  margin-bottom: 60px;
}



.aziende-dropbox{
  background-color: #f5f5f5;
  height: 500px;
  margin: 0;
  padding: 0;
}

.aziende-dropbox-left, .aziende-dropbox-right{
  width: 30%;
  height: 100%;
  background-color: blue;
}

.aziende-dropbox-left{
  float: left;
}

.aziende-dropbox-right{
  float: right;
}

.aziende-dropbox-block{
  position: relative;
  top: 0;
  left: 0;
  float: left;
  width: 50%;
  height: 250px;
}

.aziende-dropbox-block svg{
  width: 50%;
  fill: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aziende-dropbox-block.green{
  background-color: #a2d39b;
}

.aziende-dropbox-block.purples{
  background-color: #61082c;
}

.aziende-dropbox-block.light-blue{
  background-color: #1d93ce;
}

.aziende-dropbox-block.purple{
  background-color: #f91c1d;
}

.aziende-dropbox-block.dark-red{
  background-color: #d5021f;
}

.aziende-dropbox-block.light{
  background-color: #b4d0e7;
}

.aziende-dropbox-block.blue{
  background-color: #0d2481;
}

.aziende-dropbox-block.yellow{
  background-color: #fed830;
}

/* TRY DROPBOX */

.try-dropbox{
  background-color: #b4d0e7;
  padding: 150px 0;
  margin-bottom: 200px;
}

.try-dropbox-text{
  float: left;
  width: 60%;
}

.try-dropbox-text h2{
  font-size: 50px;
  font-weight: bold;
  color: #61082c;
}

.try-dropbox-btn{
  padding-top: 10px;
  float: right;
  width: 39%;
}

.try-dropbox-btn a{
  background-color: white;
  padding: 5px 50px;
  border: none;
  font-weight: bold;
}







































